QMK_REPO=https://github.com/qmk/qmk_firmware.git
QMK_COMMIT=cf93bbb78fe0bbf994663555de41372c4b5e59fe

VIAL_REPO=https://github.com/vial-kb/vial-qmk.git
VIAL_COMMIT=00fc4627cd038ac9b7e9b8bf2b40b50e9e88aecb

KEYBOARD=nuphy/air60_v2/ansi
